<p>Byl ti vytvořen uživatelský účet pro přístup do uživatelské sekce na Junktown.eu. Pro přihlášení použij svůj email a toto heslo: @ViewBag.Password</p>
<p>------</p>
<p>User account for member section on Junktown.eu was created. For login use your email adress and this password: @ViewBag.Password</p>
