@model Josefina.Models.TicketsViewModel.TicketOrderCanceledViewModel
<div class="container">
    <div class="row">
        <h2>Zrušení objednávky</h2>
        <p>Je nám líto, ale dodnes, <span style="text-decoration:underline">@Model.ReserverdUntil</span>,  nám nedorazila platba za Tvou vstupenku / vstupenky s kódem <span style="text-decoration:underline">@Model.VariableSymbol</span> na @Model.ProjectName a Tvou rezervaci jsme museli zrušit.</p>
        <p>Zkus to znova v příští vlně.</p>
    </div>
</div>