@model Josefina.Models.TicketsViewModel.TicketOrderCanceledViewModel
<div class="container">
    <div class="row">
        <h2>Zrušení objednávky</h2>
        <p>Litujeme, ale vaše objednávka č. <span style="text-decoration:underline">@Model.VariableSymbol</span> vstupenek na událost <span style="text-decoration:underline">@Model.ProjectName</span> nebyla uhrazena do <span style="text-decoration:underline">@Model.ReserverdUntil</span> a byla zrušena.</p>
        <p>Pokud máte o dané vstupenky stále zájem, prosím vytvořte si novou objednávku.</p>
    </div>
</div>