@model System.Web.Mvc.HandleErrorInfo           

@{
    ViewBag.Title = @Resources.GeneralResources.ErrorHasOccurred;
}

<h2 class="text-danger">@Resources.GeneralResources.ErrorOccurredProcessing</h2>

