
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">x</button>
        <h4 class="modal-title">{{confirmationModal.Header}}</h4>
    </div>
    <div class="modal-body">
        <p>{{confirmationModal.Message}}</p>
    </div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="click1()">{{confirmationModal.button1}}</button>
    <button class="btn btn-warning" ng-click="click2()">{{confirmationModal.button2}}</button>
</div>
