@{
    ViewBag.Title = "Josefína";
}
<div class="row">
    <div class="jumbotron" style="margin:15px 15px 15px 10px;">
        <h1 style="align-self:center">Josefína</h1>
        <p class="lead">Projektově plánovací software pro organizování a řízení kulturních událostí, který umožňuje předprodej vstupenek.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h2>Určení</h2>
            <p style="font-size:16px">
                Josefína je informační systém určený pro pořadatele kulturních i nekulturních událostí, kteří si chtějí usnadnit život
                využíváním softwarových prostředků.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Project management</h2>
            <p style="font-size:16px">
                Josefína ti umožní vytvářet úkoly, které budeš moci sdílet mezi ostatními organizátory.
                Zároveň budeš moci o úkolech společně debatovat, sledovat změny, které se udály od poslední návštěvy a spoustu dalších.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2>Ticket management</h2>
            <p style="font-size:16px">
                Prostřednictví Josefíny budeš moci prodávat vstupenky na tebou pořádané události.
            </p>
        </div>
    </div>
</div>
